@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background-color: #262626;
  font-family: 'Roboto', sans-serif;
  color: white; /* text color */
}

h2 {
  color: black;
}

h1 {
  font-weight: bold;
}

h3 {
    font-weight: bold;

}

/* Make text visible on inputs */
.shiny-input-container {
  color: black;
}