@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background-color: #262626;
  font-family: 'Roboto', sans-serif;
  color: white; /* text color */
  font-size: 1.6em;
  margin: 0 10%;
}

h2 {
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 2.75em;
}

h3 {
    font-weight: bold;
    font-size: 1.8em;

}

/* Make text visible on inputs */
.shiny-input-container {
  color: black;
}